[mysqld]

user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
port                    = 3306
datadir                 = /var/lib/mysql

log_error               = /var/log/mysql/error.log
bind-address            = 0.0.0.0
skip-networking         = false